ForumClientConsole/Service References/ForumService/ServerNetworkAdaptor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasReplies" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="tns:Postkey" />
      <xs:element minOccurs="0" name="ParentPost" nillable="true" type="tns:Postkey" />
      <xs:element minOccurs="0" name="Subforum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="Postkey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Postkey" nillable="true" type="tns:Postkey" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
</xs:schema>