ForumClientConsole/Service References/ForumService/ServerNetworkAdaptor6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ForumServer" />
  <xs:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" />
  <xs:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="RegisterResult" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="LoginResult" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="LogoutResult" type="q3:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="SubscribeResult" nillable="true" type="q4:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSubforumsListResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetSubforumResult" nillable="true" type="q6:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q7:Postkey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetPostResult" nillable="true" type="q8:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q9:Postkey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetRepliesResult" nillable="true" type="q10:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="current" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="toPost" nillable="true" type="q11:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="PostResult" type="q12:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="current" nillable="true" type="q13:Postkey" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="toPost" nillable="true" type="q14:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="ReplyResult" type="q15:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="oldPost" nillable="true" type="q16:Postkey" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="newPost" nillable="true" type="q17:Post" />
        <xs:element minOccurs="0" name="usrname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="EditPostResult" type="q18:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q19:Postkey" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="RemovePostResult" type="q20:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="AddModeratorResult" type="q21:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToRemove" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="RemoveModeratorResult" type="q22:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToRemove" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="ReplaceModeratorResult" type="q23:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="AddSubforumResult" type="q24:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="RemoveSubforumResult" type="q25:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSubForumTotalPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSubForumTotalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportSubForumTotalPostsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportUserTotalPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportUserTotalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportUserTotalPostsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldAdminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldAdminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAdminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAdminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="ReplaceAdminResult" type="q26:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>