ForumClientCore/Service References/ForumService/ServerNetworkAdaptor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53966/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53966/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" />
  <xs:import schemaLocation="http://localhost:53966/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ForumServer" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSubforumsListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetSubforumResult" nillable="true" type="q2:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q3:Postkey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetPostResult" nillable="true" type="q4:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q5:Postkey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="GetRepliesResult" nillable="true" type="q6:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="current" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="toPost" nillable="true" type="q7:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="current" nillable="true" type="q8:Postkey" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="toPost" nillable="true" type="q9:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="oldPost" nillable="true" type="q10:Postkey" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="newPost" nillable="true" type="q11:Post" />
        <xs:element minOccurs="0" name="usrname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="postkey" nillable="true" type="q12:Postkey" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModeratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToRemove" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveModeratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceModerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameToRemove" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceModeratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplaceModeratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubforumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubforum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubforumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSubforumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSubForumTotalPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subforumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSubForumTotalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportSubForumTotalPostsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportUserTotalPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportUserTotalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportUserTotalPostsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldAdminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldAdminPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAdminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAdminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplaceAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToForum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeToForumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromForum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeFromForumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ForumServer" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ForumUtils.SharedDataTypes" minOccurs="0" name="message" nillable="true" type="q15:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>