ForumClientCore/Service References/ForumService/ServerNetworkAdaptor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerNetworkAdaptor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ForumServer" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ForumShared.SharedDataTypes" />
      <xsd:import schemaLocation="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IForumService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IForumService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Register_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IForumService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Login_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IForumService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Logout_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q3:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IForumService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Subscribe_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q4:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforumsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubforumsList" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforumsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubforumsListResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforumsList_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q5:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubforum" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubforumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetSubforum_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q6:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetPost_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q7:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetReplies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReplies" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetReplies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepliesResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_GetReplies_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q8:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IForumService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Post_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q9:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_Reply_InputMessage">
    <wsdl:part name="parameters" element="tns:Reply" />
  </wsdl:message>
  <wsdl:message name="IForumService_Reply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplyResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_Reply_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q10:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_EditPost_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPost" />
  </wsdl:message>
  <wsdl:message name="IForumService_EditPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPostResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_EditPost_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q11:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemovePost_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePost" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemovePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePostResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemovePost_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q12:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddModerator_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModerator" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddModerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddModerator_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q13:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveModerator_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveModerator" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveModerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveModerator_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q14:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceModerator_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceModerator" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceModerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceModerator_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q15:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddSubforum_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubforum" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddSubforum_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubforumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_AddSubforum_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q16:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveSubforum_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubforum" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveSubforum_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubforumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_RemoveSubforum_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q17:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportSubForumTotalPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportSubForumTotalPosts" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportSubForumTotalPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportSubForumTotalPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportSubForumTotalPosts_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q18:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportUserTotalPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportUserTotalPosts" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportUserTotalPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportUserTotalPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReportUserTotalPosts_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q19:FaultException" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceAdmin" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IForumService_ReplaceAdmin_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q20:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IForumService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Register" message="tns:IForumService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/RegisterResponse" message="tns:IForumService_Register_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/RegisterFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Register_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Login" message="tns:IForumService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/LoginResponse" message="tns:IForumService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/LoginFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Login_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Logout" message="tns:IForumService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/LogoutResponse" message="tns:IForumService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/LogoutFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Logout_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Subscribe" message="tns:IForumService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/SubscribeResponse" message="tns:IForumService_Subscribe_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/SubscribeFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Subscribe_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubforumsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/GetSubforumsList" message="tns:IForumService_GetSubforumsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/GetSubforumsListResponse" message="tns:IForumService_GetSubforumsList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/GetSubforumsListFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_GetSubforumsList_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubforum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/GetSubforum" message="tns:IForumService_GetSubforum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/GetSubforumResponse" message="tns:IForumService_GetSubforum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/GetSubforumFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_GetSubforum_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/GetPost" message="tns:IForumService_GetPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/GetPostResponse" message="tns:IForumService_GetPost_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/GetPostFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_GetPost_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReplies">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/GetReplies" message="tns:IForumService_GetReplies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/GetRepliesResponse" message="tns:IForumService_GetReplies_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/GetRepliesFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_GetReplies_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Post" message="tns:IForumService_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/PostResponse" message="tns:IForumService_Post_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/PostFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Post_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/Reply" message="tns:IForumService_Reply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/ReplyResponse" message="tns:IForumService_Reply_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/ReplyFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_Reply_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/EditPost" message="tns:IForumService_EditPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/EditPostResponse" message="tns:IForumService_EditPost_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/EditPostFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_EditPost_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/RemovePost" message="tns:IForumService_RemovePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/RemovePostResponse" message="tns:IForumService_RemovePost_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/RemovePostFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_RemovePost_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/AddModerator" message="tns:IForumService_AddModerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/AddModeratorResponse" message="tns:IForumService_AddModerator_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/AddModeratorFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_AddModerator_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveModerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/RemoveModerator" message="tns:IForumService_RemoveModerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/RemoveModeratorResponse" message="tns:IForumService_RemoveModerator_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/RemoveModeratorFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_RemoveModerator_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceModerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/ReplaceModerator" message="tns:IForumService_ReplaceModerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/ReplaceModeratorResponse" message="tns:IForumService_ReplaceModerator_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/ReplaceModeratorFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_ReplaceModerator_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubforum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/AddSubforum" message="tns:IForumService_AddSubforum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/AddSubforumResponse" message="tns:IForumService_AddSubforum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/AddSubforumFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_AddSubforum_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubforum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/RemoveSubforum" message="tns:IForumService_RemoveSubforum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/RemoveSubforumResponse" message="tns:IForumService_RemoveSubforum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/RemoveSubforumFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_RemoveSubforum_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportSubForumTotalPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/ReportSubForumTotalPosts" message="tns:IForumService_ReportSubForumTotalPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/ReportSubForumTotalPostsResponse" message="tns:IForumService_ReportSubForumTotalPosts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/ReportSubForumTotalPostsFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_ReportSubForumTotalPosts_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportUserTotalPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/ReportUserTotalPosts" message="tns:IForumService_ReportUserTotalPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/ReportUserTotalPostsResponse" message="tns:IForumService_ReportUserTotalPosts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/ReportUserTotalPostsFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_ReportUserTotalPosts_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumService/ReplaceAdmin" message="tns:IForumService_ReplaceAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumService/ReplaceAdminResponse" message="tns:IForumService_ReplaceAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IForumService/ReplaceAdminFaultExceptionFault" name="FaultExceptionFault" message="tns:IForumService_ReplaceAdmin_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServerNetworkAdaptor" />
</wsdl:definitions>